services:
  backend:
    build: ./backend
    container_name: focus_habit_backend
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: ${DATABASE_URL} 
      JWT_SECRET: ${JWT_SECRET}
      NODE_ENV: 'production'
      PORT: 3000
      FRONTEND_URL: 'http://localhost'
    restart: always 

  frontend:
    build: ./frontend
    container_name: focus_habit_frontend
    ports:
      - '80:80'
    depends_on: 
      - backend 
    restart: always