@use '../../styles/variables' as var;

.create_form {
  display: flex;
  gap: .5rem;

  &__input {
    flex-grow: 1;
    padding: .5rem .75rem;
    border: 1px solid var.$border-color;
    border-radius: 8px;
    font-size: 0.9rem;

    &:focus {
      border-color: var.$primary-color;
      outline: none;
      box-shadow: 0 0 0 3px rgba(var.$primary-color, .2);
    }
  }

  &__button {
    padding: .5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: var.$primary-color;
    color: white;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: var.$primary-color-dark;
    }
    &:disabled {
      background-color: #a0a0a0;
      opacity: .7;
    }
  }
}