/* src/components/habits/HabitCard.module.scss */
@use '../../styles/variables' as var;

.habitCard {
  list-style: none;
  background: var.$background-color;
  padding: 1.5rem;
  border-radius: var.$border-radius;
  border: .1rem var.$border-color solid;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__header {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: .5rem
  }

  &__name {
    font-size: 1.25rem;
    font-weight: 600;
    color: var.$text-color;

    transition: color 0.2s;

    &_done {
      color: var.$text-color-light;
      text-decoration: line-through;
    }
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
  }

  &__focusButton {
    border: none;
    background: var.$text-color; 
    color: white;
    padding: .5rem 1rem;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    
    &:hover {
        background: lighten(var.$text-color, 15%);
    }
}

  &__stats {
    display: flex;
    gap: .75rem;
  }

  &__stat {
    
    padding: .25rem .75rem;
    border-radius: 9999px;
    font-size: .8rem;
    font-weight: 600;
    align-self: flex-start;
      
    &_current {
      background-color: #fffbeb;
      color: #b45309;
    }

    &_longest {
      background-color: #f0f9ff;
      color: #0c4a6e;
    }
  }

  &__toggleButton {
    border: 1px solid var.$primary-color;
    background: var.$primary-color;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;

    &_done {
      background: transparent;
      color: var.$text-color-light;
      border-color: var.$border-color;
    }
  }

  &__deleteButton {
    border: none;
    background: var.$danger-color;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
  }

}

@media (min-width: 768px) {
  .habitCard {
    &__header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__info {
      flex-direction: row;
      align-items: center;
      gap: 1rem
    }

    &__stats {
      align-self: center;
    }
  }
}