@use '../../styles/variables' as var;

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &.fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var.$background-color;
    z-index: 9999;
  }
  
  &.centered {
    width: 100%;
    padding: 2rem;
  }
}

.spinner {
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  
  &.sm { width: 16px; height: 16px; border-width: 2px; }
  &.md { width: 32px; height: 32px; border-width: 3px; }
  &.lg { width: 64px; height: 64px; border-width: 4px; }

  border-style: solid;
  border-color: var.$primary-color var.$primary-color transparent transparent;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}