@use "../styles/variables" as var;

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.dashboardLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  :global(.sidebar) {
  width: 100%;
  flex-shrink: 0;
  position: absolute;
  z-index: 10;
  height: 100%;
  display: none;
}

:global(.content) {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}
}



.dashboardLayout_sidebarOpen {
  
  & :global(.sidebar) {
    display: flex !important;
    width: 80vw;
    z-index: 20;
  }

  :global(.content) {
    display: none;
  }
}

@media (min-width: 768px) {
  .dashboardLayout {
    display: grid;
    grid-template-columns: 280px 1fr;
    flex-direction: row;

    :global(.sidebar) {
      display: flex !important;
      position: relative; 
      width: 100%;
      box-shadow: none;
    }

    :global(.content) {
      display: block !important;
    }
  }
}