@use "../styles/variables" as var;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 65px;
  border-bottom: 1px solid var.$border-color;
  background-color: var.$background-color;
  position: relative;
  z-index: 50;

  &__hamburger {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
  }

  &__brand {
    font-size: 1.50rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var.$primary-color;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__linksContainer {
    display: flex;
    gap: 1rem;
  }

  &__link,
  &__actions {
    display: none; 
  }

  &__logout {
    border: none;
    background: var.$danger-color;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
  }


  @media (min-width: 768px) {
    &__brand {
        position: static;
        transform: none;
    }
    
    &__hamburger {
      display: none;
    }

    &__link,
    &__actions {
      display: flex;
      text-decoration: none;
      color: var.$text-color
    }
  }
}
